html {
    font-family: 'Vollkorn', serif;
}

h1 {
    margin: 0;
    width: min-content;
}

#base {
    max-width: 600px;
    margin: 0 auto;
}

#header {
    border-bottom: #000000 solid 2px;
    margin-bottom: 20px;
    text-align: right;
    width: 100%;
}

#logo {
    float: left;
    width: max-content;
}

#nav {
    padding: 12px 0;
}

#home img {
    height: 150px;
}

.nav-item {
    display: inline-block;
    margin: 0 5px;
    width: min-content;
}

ul p {
    margin: 5px;
}

li {
    list-style-type: none;    
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: bolder;
}

blockquote {
    background: #eeeeee;
    border-left: #888888 solid 2px;
    border-radius: 5px;
    color: #888;
    font-family: monospace;
    font-style: italic;
    margin: 10px 40px;
    margin-bottom: 20px;
    padding: 5px 6px;
}

a:hover {
    color: rgb(0, 17, 255);
}
