{{ define "main"}}
    {{ if .Sections }}
        <h1>sections</h1>
        <ul>
            {{ range .Sections}}
                
                <li style="margin-bottom: 10px">
                    <a href="{{ .Permalink }}">
                        {{ .Title }}
                    </a>
                </li>
                
            {{ end }}
        </ul>
        <hr>
    {{ end }}
    {{ if .RegularPages }}
        <ul style="padding-left:0;">
            {{ range .RegularPages }}
                <li style="border-bottom: 0.3px solid #efefef;border-left: 0.3px solid #efefef;padding:0 0 2px 5px">
                    <div style="position: relative;">
                        <a href="{{ .Permalink }}">
                            <div style="display: inline-block;width: 80%;">{{ .Title }}</div>
                            <div style="position:absolute;font-size:0.8em;right:0;bottom: 0;">{{ .Date.Format "2006-Jan-02" }}</div>
                        </a>
                    </div>
                </li>
            {{ end }}
        </ul>
    {{ end }}
{{end}}
