{{ define "main" }}
    <div id="social-tray">
        <a
            target="_blank"
            href="https://www.credly.com/badges/e5b19c58-4ad1-44aa-938c-8fd51aae1412/embedded">
                <img alt="" src="https://images.credly.com/images/00634f82-b07f-4bbd-a6bb-53de397fc3a6/image.png" style="width: 105px;height:105px;margin-bottom: 15px;">
        </a>
        <a href="https://github.com/NathanClassen">{{ partial "fontawesome" "github" }}</a>
        <a href="https://www.linkedin.com/in/nathanclassen/">{{ partial "fontawesome" "linkedin" }}</a>
        <a href="/resume.pdf">{{ partial "fontawesome" "file" }}</a>
    </div>
    <div id="home">
        {{ .Content }}
    </div>
{{ end }}
