{{ define "main" }}
    <div id="social-tray">
        <div>
            <div class="inline-block-div">
                <a
                    target="_blank"
                    href="https://www.credly.com/badges/5e3dd548-c857-4108-b290-b63873fccf95/public_url">
                        <img alt="" src="https://images.credly.com/images/0e284c3f-5164-4b21-8660-0d84737941bc/image.png" style="width: 105px;height:105px;margin-bottom: 15px;">
                </a>
            </div>
            <div class="inline-block-div">
                <a
                    target="_blank"
                    href="https://www.credly.com/badges/06836766-7a36-44dd-b1f7-03cbd61cabbb/embedded">
                        <img alt="" src="https://images.credly.com/images/b9feab85-1a43-4f6c-99a5-631b88d5461b/image.png" style="width: 105px;height:105px;margin-bottom: 15px;">
                </a>
            </div>
        </div>
        <div>
            <a href="https://github.com/NathanClassen">{{ partial "fontawesome" "github" }}</a>
            <a href="https://www.linkedin.com/in/nathanclassen/">{{ partial "fontawesome" "linkedin" }}</a>
            <a href="/resume.pdf">{{ partial "fontawesome" "file" }}</a>
        </div>
    </div>
    <div id="home">
        {{ .Content }}
    </div>
{{ end }}